body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header-contact {
font-style: normal;
}

.header-contact a {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-link {
    color: #434455;
    font-weight: 400;
    line-height: 1.5;

}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}


a {
    text-decoration: none;
}

.header {
    font-family: "Raleway", sans-serif;
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-home-text {
    color: #2E2F42; 
}

.home-link {
    letter-spacing: 0.02em;
}

.home-link:hover,
.home-link:focus {
    color: #404bbf;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

h1,
h2,
h3 {
    font-weight: bold;
    line-height: 1.2;
    color: #2E2F42;

}

.hero {
    background-color: #2E2F42;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.2;
    color: #FFFFFF;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #2E2F42;
}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-list .features-item .feature-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-list .features-item .feature-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team ul li {
    background-color: #FFFFFF;
}
.team-item .team-member-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-item .team-member-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio ul li img[src^="./images"][src$=".jpg"],
.portfolio ul li img[src^="./images"][src$=".jpeg"] {

}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-text {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: var(--text-color, #f4f4fd);
    letter-spacing: 0.02em;
}